.btn {
  border: 0;
  line-height: 2.5;
  padding: 5px 20px;
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
  border-radius: 30px;
  text-shadow: 1px 1px 1px rgb(44, 43, 43);
  @include gradient-color;
  @include shadow;
  cursor: pointer;
  transform: scale(1); //proprieté qui permet de faire pivoter d'un element
  transition: transform 500ms; //transition avec la proprieté transform (transition-property: transform;)
  opacity: 1; //définit la transparence d'un élément
  &:hover {
    transform: scale(1.1);
    @include darker-shadow;
    opacity: 0.8;
  }
}
