/*il faut ajouter des commentaire*/
.heart {
  font-size: 25px;
  color: grey;
  margin-right: 20px;
  &:hover {
    animation: fill 1s ease-out;
    font-weight: bold;
    background: linear-gradient($color-secondaire, $color-primaire);
    background-clip: text;
    color: transparent;
  }
}
