.header {
    &--menu{
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px 0px 0px inset;
    }
    &--arrow {
        @include flexcenter;
        font-size: 1.5rem;
        position:absolute;
        left: 2rem;
        height: 2.5rem;
        width: 2rem;
        top:25%;
        transform: translate(-25%);
        
        
    }
}