@keyframes slidemenu {
  0% {
    transform: scale(0)
  }
  100% {
    transform: scale(1);
  }
}
.menu 
{
  & .delay-1 {
  animation-delay: 0s;
}
& .delay-2 {
  animation-delay: 0.2s;
}
& .delay-3 {
  animation-delay: 0.4s;
}
& .delay-4 {
  animation-delay: 0.6s;
}
& .delay-5 {
  animation-delay: 0.8s;
}
& .delay-6 {
  animation-delay: 1s;
}
& .delay-7 {
  animation-delay: 1.2s;
}
& .delay-8 {
  animation-delay: 1.4s;
}
& .delay-9 {
  animation-delay: 1.6s;
}
& .delay-10 {
  animation-delay: 1.8s;
}
}


