// Flexbox
@mixin flexcenter {
        display: flex;
        align-items: center;
        justify-content:center;
    }
@mixin flexBetween {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    


// Ombre classiques
@mixin shadow {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
    
    // Ombre plus sombre
    @mixin darker-shadow{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
    // Couleur gradient pour boutons et coeurs
    @mixin gradient-color {
        background-image: linear-gradient($color-secondaire, $color-primaire);
    }