%flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
   }
   %flexbetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   %flexColumnCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   }
 
