$color-primaire:#9356DC;
$color-secondaire: #FF79DA;
$color-tertiaire: #99E2D0;
$ombre-couleur : #c4c3c0 ;
$lignt:#f7f7f7;
$ombre-light: #f6f6f6;
$color-dark: #000000B3;
$color-dark-clair:rgb(51, 52, 51);
$color-dark-tres-clair:rgb(80, 80, 80);
